@model IEnumerable<PatientVM>
@{
    ViewData["Title"] = "Index";
}

<style>
    body{
        background-color:lightblue;
    }
</style>
<body>
<h1>List of Patients</h1>

@*<div class="col">
    <a asp-controller="Patient" asp-action="Create" class="btn btn-primary">Patient Registeration</a>
</div>*@
<div class="col-md-9">
    <table class="tatble table-hover table-bordered">
        <thead>
            <tr>
                <th>Patient Id</th>
                <th>Patient Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>

                    <td>@x.Id</td>
                    <td>@x.FullName</td>
                    <td>
                        <a asp-controller="Admin" asp-action="PatientDetails" asp-route-id="@x.Id" class="btn btn-primary">Details</a>
                        <a asp-controller="Patient" asp-action="Edit" asp-route-id="@x.Id" class="btn btn-primary">Edit</a>
                        <a asp-controller="Patient" asp-action="Delete" asp-route-id="@x.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</body>