@model DoctorVM
@{
    ViewData["Title"] = "Details";
}

<div class="row offset-4">
    <div class="col-md-7">
        <h1 class="p-5">Details</h1>
        <ul class="list-group">
            <li class="list-group-item"><b>Doctor Name: </b>@Model.DoctorName</li>
            <li class="list-group-item"><b>Gender: </b>@Model.EmailId</li>
            <li class="list-group-item"><b>Age: </b>@Model.Qualification</li>
            <li class="list-group-item"><b>Email: </b>@Model.Specilization</li>
            <li class="list-group-item"><b>Address: </b>@Model.Address</li>
            <li class="list-group-item"><b>City: </b>@Model.City</li>
            <li class="list-group-item"><b>State: </b>@Model.State</li>
            <li class="list-group-item"><b>Mobile No: </b>@Model.PhoneNo</li>
        </ul>
        <a asp-controller="Doctor" asp-action="Index" class="btn btn-info"> Back To Index</a>
    </div>
</div>

