@model RolesRegisterVM

@{
    ViewData["Title"] = "Register";
}

<style>
    body {
        background-image: Url('https://images.unsplash.com/photo-1478476868527-002ae3f3e159?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fFBhdGllbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
        
        background-repeat: no-repeat;
        background-size: cover;
    }

    .form {
        width: 290px;
        height: 410px;
        background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
        position: absolute;
        top: 180px;
        left: 540px;
        transform: translate(0%,-5%);
        border-radius: 10px;
        padding: 25px;
    }

        .form h2 {
            width: 220px;
            font-family: sans-serif;
            text-align: center;
            color: #ff7200;
            font-size: 22px;
            background-color: #fff;
            border-radius: 10px;
            margin: 2px;
            padding: 8px;
        }

        .form input {
            width: 240px;
            height: 35px;
            background: transparent;
            border-bottom: 1px solid #ff7200;
            border-top: none;
            border-right: none;
            border-left: none;
            color: #fff;
            font-size: 15px;
            letter-spacing: 1px;
            margin-top: 30px;
            font-family: sans-serif;
        }

            .form input:focus {
                outline: none;
            }

    ::placeholder {
        color: #fff;
        font-family: Arial;
    }

    .btnn {
        width: 240px;
        height: 40px;
        background: #ff7200;
        border: none;
        margin-top: 30px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        color: #fff;
        transition: 0.4s ease;
    }

        .btnn:hover {
            background: #fff;
            color: #ff7200;
        }

        .btnn a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
        }

</style>
<body>

    <form asp-action="Register" asp-controller="Accounts" method="post">
        <div class="form">
            <h2>Patient Register</h2>
            <input type="text" asp-for="@Model.RegisterRoles.UserName" placeholder="Enter Username" />
            <input type="password" asp-for="@Model.RegisterRoles.Password" placeholder="Enter Password" />
            <input type="password" asp-for="@Model.RegisterRoles.ConfirmPassword" placeholder="Confirm Password" />
            <label asp-for="SelectedValue" style="color:white" class="form-label">Role</label>
            <select name="selectedValue" style="width:130px;margin-left:30px; margin-top:20px" asp-for="SelectedValue" asp-items="Model.Values" class="form-select"></select>
            <input type="submit" class="btnn" value="Register" />

        </div>
    </form>

    @*<div class=" offset-4 w-100 pt-5">
        <h1 class="mt-3" style="color:white">Register</h1>

        <form asp-controller="Accounts" asp-action="Register" method="post" class="form-group">
            <div class="row">
                <div class="col-md-4">

                    <label asp-for="@Model.RegisterRoles.UserName" style="color:white" class="form-label "></label>
                    <input type="text" asp-for="@Model.RegisterRoles.UserName" class="form-control" placeholder="Enter the UserName" />
                    <span asp-validation-for="@Model.RegisterRoles.UserName" class="text-danger"></span>
                </div>
                </div>
                <div class="row">
                
                    <div class="col-md-4">
                        <label asp-for="@Model.RegisterRoles.Password" style="color:white" class="form-label"></label>
                        <input type="password" asp-for="@Model.RegisterRoles.Password" class="form-control" placeholder="Enter your Password" />
                        <span asp-validation-for="@Model.RegisterRoles.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="@Model.RegisterRoles.ConfirmPassword" style="color:white" class="form-label"></label>
                        <input type="password" asp-for="@Model.RegisterRoles.ConfirmPassword" class="form-control" placeholder="Confirm Your password" />
                        <span asp-validation-for="@Model.RegisterRoles.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="SelectedValue" style="color:white" class="form-group">Select Role</label>
                        <select name="selectedValue" asp-for="SelectedValue" asp-items="Model.Values" class="form-select"></select>
                    </div>
                </div>
            
            <div class="row">
                <div class="col-md-4 mt-4">
                    <button type="submit" class="btn btn-success" style="width: 100%;">
                        Register
                    </button>
                    <div class="row">
                        <div class="mt-2">
                            <a asp-action="login" asp-controller="Accounts" class=" link link-primary text-white">Already have an account? Login here</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>*@
</body>

